<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.6.3.js"></script>
    <script src="js/jquery-3.6.3.min.js"></script>

    <h1>
      ProLoT Software Systems Pvt. Ltd. <br />
      Admin. Dashboard Page...!
    </h1>
    <hr />

    <!-- Navigation Bar -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/view"
          ><b>All Users</b></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/allcomplaint"><b>All Complaints</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/idwise"><b>ID Detail</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/compidwise"><b>Complaint ID</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/incomplete"><b>In-Complete Status</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/setstatus"><b>Change Status</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/u/logout" tabindex="-1" aria-disabled="false"
          ><b>Logout</b></a
        >
      </li>
    </ul>
    <hr />
    <!--  -->
  </body>
</html>
