<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Index Page</title>
  </head>
  <body>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.6.3.js"></script>
    <script src="js/jquery-3.6.3.min.js"></script>

    <h1>
      ProLoT Software Systems Pvt. Ltd. <br />
      <span style="color: green"> Successfully Data Saved...! </span>
    </h1>
    <hr />

    <!-- Navigation Bar -->
    <ul class="nav border border-danger col-sm-4">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= link1_url %>">
          <%=link1 %></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=link2_url%>"> <%=link2%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=link3_url %>"> <%=link3 %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support" tabindex="-1" aria-disabled="false"
          >Support</a
        >
      </li>
    </ul>
    <hr />
    <div class="align-middle">
      <h7>
        <span class="align-middle"> <b><%= successData %></b></span>
      </h7>
    </div>
    <!--  -->
  </body>
</html>
